<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\StoreGraphQl\Model\Resolver\Store\StoreConfigDataProvider">
        <arguments>
            <argument name="extendedConfigData" xsi:type="array">
                <item name="tax_display_in_catalog" xsi:type="string">tax/display/type</item>
            </argument>
        </arguments>
    </type>
    <type name="Bss\ApiCustomizeForGranato\Model\Resolver\ProductPrice\PoolProvider">
        <arguments>
            <argument name="pools" xsi:type="array">
                <item name="minimum_price" xsi:type="object">Bss\ApiCustomizeForGranato\Model\Resolver\ProductPrice\MinimumPriceExclTaxField</item>
                <item name="maximum_price" xsi:type="object">Bss\ApiCustomizeForGranato\Model\Resolver\ProductPrice\MaximumPriceExclTaxField</item>
            </argument>
        </arguments>
    </type>
</config>
